            
ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
    position: relative;
    
  }
  
  li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
    background-color: rgba(240, 248, 255, 0.623);
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;

  }